{{define "form/vless"}}
<a-form layout="inline">
<a-collapse activeKey="0"  v-for="(vless, index) in inbound.settings.vlesses"
:key="`vless-${index}`" style="margin-top: 12px;">

    <a-collapse-panel :header="getHeaderText(vless.email)">
        <a-tag v-if="isExpiry(index) || ((getUpStats(vless.email) + getDownStats(vless.email)) > vless.totalGB && vless.totalGB != 0)" color="red" style="margin-bottom: 10px;display: block;text-align: center;">Account is Expired or Traffic Ended</a-tag>

        <a-form layout="inline">
            <a-form-item>
                <span slot="label">
                    Email
                    <a-tooltip>
                        <template slot="title">
                            The email must be completely unique
                        </template>
                        <!--Renew Svg Icon-->
                        <svg 
                            @click="getNewEmail(vless)"
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="anticon anticon-question-circle" viewBox="0 0 16 16"> <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/> <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/> </svg>
                    </a-tooltip>
                </span>
                <a-input v-model.trim="vless.email"></a-input>
            </a-form-item>
            <!-- <a-form-item>
                <span slot="label">
                    IP Count Limit
                    <a-tooltip>
                        <template slot="title">
                            disable inbound if more than entered count (0 for disable limit ip)
                        </template>
                        <a-icon type="question-circle" theme="filled"></a-icon>
                    </a-tooltip>
                </span>

                <a-input type="number" v-model.number="vless.limitIp" min="0" ></a-input>
            </a-form-item> -->
            <a-form-item v-if="vless.email && vless.limitIp > 0 && isEdit">
                <span slot="label">
                    IP log
                    <a-tooltip>
                        <template slot="title">
                            IPs history Log (before enabling inbound after it has been disabled by IP limit, you should clear the log)
                        </template>
                        <a-icon type="question-circle" theme="filled"></a-icon>
                    </a-tooltip>
                </span>
                <a-form layout="block">

                    <a-textarea readonly @click="getDBClientIps(vless.email,$event)" placeholder="Click To Get IPs"  :auto-size="{ minRows: 0.5, maxRows: 10 }">
                    </a-textarea>

                    <a-button type="danger" @click="clearDBClientIps(vless.email,$event)" >clear log</a-button>
                </a-form>
            </a-form-item>
        </a-form>
        <a-form-item label="ID">
            <a-input v-model.trim="vless.id"></a-input>
        </a-form-item>
        <a-form-item v-if="inbound.canEnableFlow()" label="Flow">
            <a-select v-model="vless.flow" style="width: 150px" :dropdown-class-name="siderDrawer.isDarkTheme ? 'ant-card-dark' : ''">
                <a-select-option value="">{{ i18n "none" }}</a-select-option>
                <a-select-option v-for="key in FLOW_CONTROL" :value="key">[[ key ]]</a-select-option>
            </a-select>
        </a-form-item>
        <a-form-item>
            <span slot="label">
                <span >{{ i18n "pages.inbounds.totalFlow" }}</span>(GB)
                <a-tooltip>
                    <template slot="title">
                        0 <span>{{ i18n "pages.inbounds.meansNoLimit" }}</span>
                    </template>
                    <a-icon type="question-circle" theme="filled"></a-icon>
                </a-tooltip>
            </span>
            <a-input-number v-model="vless._totalGB" :min="0"></a-input-number>
        </a-form-item>
        <a-form-item>
            <span slot="label">
                <span >{{ i18n "pages.inbounds.expireDate" }}</span>
                <a-tooltip>
                    <template slot="title">
                        <span>{{ i18n "pages.inbounds.leaveBlankToNeverExpire" }}</span>
                    </template>
                    <a-icon type="question-circle" theme="filled"></a-icon>
                </a-tooltip>
            </span>
            <a-date-picker :show-time="{ format: 'HH:mm' }" format="YYYY-MM-DD HH:mm" :dropdown-class-name="siderDrawer.isDarkTheme ? 'ant-card-dark' : ''"
                           v-model="vless._expiryTime" style="width: 300px;"></a-date-picker>
        </a-form-item>
        <a-form layout="inline">
            <a-tooltip v-if="vless._totalGB > 0">
                <template slot="title">
                    {{ i18n "pages.inbounds.resetClientTraffic" }}
                </template>
                <span style="color: #FF4D4F">
                    <a-icon type="delete" @click="resetClientTraffic(vless,$event)"></a-icon>
                </span>
            </a-tooltip>
            <a-tag color="blue">[[ sizeFormat(getUpStats(vless.email)) ]] / [[ sizeFormat(getDownStats(vless.email)) ]]</a-tag>
            <a-tag v-if="vless._totalGB > 0" color="orange">used : [[ sizeFormat(getUpStats(vless.email) + getDownStats(vless.email)) ]]</a-tag>
        </a-form>
        <div style="text-align: center;">
            <a-button v-if="!isExpiry(index) || ((getUpStats(vless.email) + getDownStats(vless.email)) > vless.totalGB && vless.totalGB == 0)" 
                v-show="(returnClientsStatusText(vless.email) != 'hide') && dbInbound.enable" style="margin-top: 10px;"
                @click="switchClientStatus(vless.email)" type="primary">[[ returnClientsStatusText(vless.email) ]]</a-button>
            <a-button v-show="inbound.settings.vlesses.length > 1" type="danger" style="margin-top: 10px;"
                @click="removeClient(index, inbound.settings.vlesses)" ghost>{{ i18n "pages.inbounds.removeClient" }}</a-button>
        </div>

        
        <li slot="extra" :class="getSlotExtraStyle(vless.email)">[[ getSlotExtraHeader(vless.email) ]]</li>
    </a-form>
    <a-button style="margin-top: 10px; margin-bottom: 10px;"
    @click="addClient(inbound.protocol, inbound.settings.vlesses)" type="primary">{{ i18n "pages.inbounds.addClient" }}</a-button>

<a-form layout="inline">
    <a-form-item label="Fallback">
        <a-row>
            <a-button type="primary" size="small"
                      @click="inbound.settings.addFallback()">
                +
            </a-button>
        </a-row>
    </a-form-item>
</a-form>

<!-- vless fallbacks -->
<a-form v-for="(fallback, index) in inbound.settings.fallbacks" layout="inline">
    <a-divider>
        Fallback [[ index + 1 ]]
        <a-icon type="delete" @click="() => inbound.settings.delFallback(index)"
                style="color: rgb(255, 77, 79);cursor: pointer;"/>
    </a-divider>
    <a-form-item label="Name">
        <a-input v-model="fallback.name"></a-input>
    </a-form-item>
    <a-form-item label="Alpn">
        <a-input v-model="fallback.alpn"></a-input>
    </a-form-item>
    <a-form-item label="Path">
        <a-input v-model="fallback.path"></a-input>
    </a-form-item>
    <a-form-item label="Dest">
        <a-input v-model="fallback.dest"></a-input>
    </a-form-item>
    <a-form-item label="xVer">
        <a-input type="number" v-model.number="fallback.xver"></a-input>
    </a-form-item>
    <a-divider v-if="inbound.settings.fallbacks.length - 1 === index"/>
</a-form>
{{end}}
