{{define "inboundInfoStream"}}
<p>{{ i18n "transmission" }} : <a-tag color="green">[[ inbound.network ]]</a-tag></p>

<template v-if="inbound.isTcp || inbound.isWs || inbound.isH2">
    <p v-if="inbound.host">host : <a-tag color="green">[[ inbound.host ]]</a-tag></p>
    <p v-else>{{ i18n "host" }} : <a-tag color="orange">{{ i18n "none" }}</a-tag></p>

    <p v-if="inbound.path">path : <a-tag color="green">[[ inbound.path ]]</a-tag></p>
    <p v-else>{{ i18n "path" }} : <a-tag color="orange">{{ i18n "none" }}</a-tag></p>
</template>

<template v-if="inbound.isQuic">
    <p>quic {{ i18n "encryption" }} : <a-tag color="green">[[ inbound.quicSecurity ]]</a-tag></p>
    <p>quic {{ i18n "password" }} : <a-tag color="green">[[ inbound.quicKey ]]</a-tag></p>
    <p>quic {{ i18n "camouflage" }} : <a-tag color="green">[[ inbound.quicType ]]</a-tag></p>
</template>

<template v-if="inbound.isKcp">
    <p>kcp {{ i18n "encryption" }} : <a-tag color="green">[[ inbound.kcpType ]]</a-tag></p>
    <p>kcp {{ i18n "password" }} : <a-tag color="green">[[ inbound.kcpSeed ]]</a-tag></p>
</template>

<template v-if="inbound.isGrpc">
    <p>grpc serviceName : <a-tag color="green">[[ inbound.serviceName ]]</a-tag></p>
</template>

<template v-if="inbound.tls || inbound.xtls">
    <p v-if="inbound.tls">tls : <a-tag color="green">{{ i18n "turnOn" }}</a-tag></p>
    <p v-if="inbound.xtls">xtls : <a-tag color="green">{{ i18n "turnOn" }}</a-tag></p>
</template>
<template>
    <p>{{ i18n "pages.inbounds.inboundStatus"}} : <a-tag v-if="dbInbound.enable" color="green">{{ i18n "enable" }}</a-tag>
    <a-tag v-else color="red">{{ i18n "disable" }}</a-tag></p>
</template>
<template v-else>
    <p>tls : <a-tag color="red">{{ i18n "closure" }}</a-tag></p>
</template>
<p v-if="inbound.tls">
    tls {{ i18n "domainName" }} : <a-tag :color="inbound.serverName ? 'green' : 'orange'">[[ inbound.serverName ? inbound.serverName : '' ]]</a-tag>
</p>
<p v-if="inbound.xtls">
    xtls {{ i18n "domainName" }} : <a-tag :color="inbound.serverName ? 'green' : 'orange'">[[ inbound.serverName ? inbound.serverName : '' ]]</a-tag>
</p>
<p v-if="inbound.stream.tls.settings[0].serverName != ''">
    SNI Parameter : <a-tag color="green">[[ inbound.stream.tls.settings[0].serverName ]]</a-tag>
</p>
<p v-if="inbound.stream.tls.settings[0].fingerprint != ''">
    uTLS : <a-tag color="green">[[ inbound.stream.tls.settings[0].fingerprint ]]</a-tag>
</p>
<p v-if="inbound.stream.tls.cipherSuites != ''">
    CipherSuites : <a-tag color="green">[[ inbound.stream.tls.cipherSuites ]]</a-tag>
</p>
{{end}}


{{define "component/inboundInfoComponent"}}
<div>
    <p>{{ i18n "protocol"}} : <a-tag color="pink">[[ dbInbound.protocol ]]</a-tag></p>
    <p>{{ i18n "pages.inbounds.address"}} : <a-tag color="blue">[[ dbInbound.address ]]</a-tag></p>
    <p>{{ i18n "pages.inbounds.port"}} : <a-tag color="green">[[ dbInbound.port ]]</a-tag></p>
    <template v-if="dbInbound.isVMess || dbInbound.isVLess || dbInbound.isTrojan || dbInbound.isSS">
        {{template "inboundInfoStream"}}
    </template>
    
    <template v-if="dbInbound.isVMess" v-for="(vmess, index) in inbound.settings.vmesses">
        <a-card :class="siderDrawer.isDarkTheme ? darkClass : ''">
        <p>Status : <a-tag v-if="(this.checkClientEnable(dbInbound, vmess.email) == true) && dbInbound.enable" color="blue">{{ i18n "clientActive" }}</a-tag>
            <a-tag v-else color="red">{{ i18n "clientDeactive" }}</a-tag></p>
        <p>Email : <a-tag color="purple">[[ vmess.email ]]</a-tag></p>
        <p>uuid : <a-tag color="purple">[[ vmess.id ]]</a-tag></p>
        <p>alterId : <a-tag color="purple">[[ vmess.alterId ]]</a-tag></p>
        <p>Traffic : 
            <a-tag v-if="vmess.totalGB > 0" color="blue">Allowed Traffic : [[ sizeFormat(vmess.totalGB) ]]</a-tag>
            <a-tag v-else color="blue">Allowed Traffic : {{ i18n "indefinitely" }}</a-tag>
            <a-tag color="orange"> Used Traffic : [[ sizeFormat(getUpStats(dbInbound, vmess.email) + getDownStats(dbInbound, vmess.email)) ]]</a-tag>
            <a-tag v-if="((getUpStats(dbInbound, vmess.email) + getDownStats(dbInbound, vmess.email)) > vmess.totalGB && vmess.totalGB != 0)" color="red">Ended</a-tag>
        </p>
        <template>
            Expiry Time : 
            <template v-if="vmess.expiryTime > 0">
                <a-tag v-if="vmess.expiryTime < new Date().getTime()" color="red">
                    [[ DateUtil.formatMillis(vmess.expiryTime) ]] (Expired)
                </a-tag>
                <a-tag v-else color="blue">
                    [[ DateUtil.formatMillis(vmess.expiryTime) ]]
                </a-tag>
            </template>
            <a-tag v-else color="green">{{ i18n "indefinitely" }}</a-tag>
        </template>
        </a-card>
    </template>

    <template v-if="dbInbound.isVLess" v-for="(vless, index) in inbound.settings.vlesses">
        <a-card :class="siderDrawer.isDarkTheme ? darkClass : ''">
        <p>Status : <a-tag v-if="(this.checkClientEnable(dbInbound, vless.email) == true) && dbInbound.enable" color="blue">{{ i18n "clientActive" }}</a-tag>
            <a-tag v-else color="red">{{ i18n "clientDeactive" }}</a-tag></p>
        <p>Email : <a-tag color="purple">[[ vless.email ]]</a-tag></p>
        <p>uuid : <a-tag color="purple">[[ vless.id ]]</a-tag></p>
        <p v-if="inbound.canEnableFlow() && vless.flow != ''">Flow : <a-tag color="blue">[[ vless.flow ]]</a-tag></p>
        <p v-if="inbound.canEnableFlow() && vless.flow == ''">Flow : <a-tag color="blue">None</a-tag></p>
        <p>Traffic : 
            <a-tag v-if="vless.totalGB > 0" color="blue">Allowed Traffic : [[ sizeFormat(vless.totalGB) ]]</a-tag>
            <a-tag v-else color="blue">Allowed Traffic : {{ i18n "indefinitely" }}</a-tag>
            <a-tag color="orange"> Used Traffic : [[ sizeFormat(getUpStats(dbInbound, vless.email) + getDownStats(dbInbound, vless.email)) ]]</a-tag>
            <a-tag v-if="((getUpStats(dbInbound, vless.email) + getDownStats(dbInbound, vless.email)) > vless.totalGB && vless.totalGB != 0)" color="red">Ended</a-tag>
        </p>
        <template>
            Expiry Time : 
            <template v-if="vless.expiryTime > 0">
                <a-tag v-if="vless.expiryTime < new Date().getTime()" color="red">
                    [[ DateUtil.formatMillis(vless.expiryTime) ]] (Expired)
                </a-tag>
                <a-tag v-else color="blue">
                    [[ DateUtil.formatMillis(vless.expiryTime) ]]
                </a-tag>
            </template>
            <a-tag v-else color="green">{{ i18n "indefinitely" }}</a-tag>
        </template>
        </a-card>
    </template>

    <template v-if="dbInbound.isTrojan" v-for="(trojan, index) in inbound.settings.trojans">
        <a-card :class="siderDrawer.isDarkTheme ? darkClass : ''">
        <p>Status : <a-tag v-if="(this.checkClientEnable(dbInbound, trojan.email) == true) && dbInbound.enable" color="blue">{{ i18n "clientActive" }}</a-tag>
            <a-tag v-else color="red">{{ i18n "clientDeactive" }}</a-tag></p>
        <p>Email : <a-tag color="purple">[[ trojan.email ]]</a-tag></p>
        <p>Password : <a-tag color="purple">[[ trojan.password ]]</a-tag></p>
        <p v-if="inbound.canEnableFlow() && trojan.flow != ''">Flow : <a-tag color="blue">[[ trojan.flow ]]</a-tag></p>
        <p v-if="inbound.canEnableFlow() && trojan.flow == ''">Flow : <a-tag color="blue">None</a-tag></p>
        <p>Traffic : 
            <a-tag v-if="trojan.totalGB > 0" color="blue">Allowed Traffic : [[ sizeFormat(trojan.totalGB) ]]</a-tag>
            <a-tag v-else color="blue">Allowed Traffic : {{ i18n "indefinitely" }}</a-tag>
            <a-tag color="orange"> Used Traffic : [[ sizeFormat(getUpStats(dbInbound, trojan.email) + getDownStats(dbInbound, trojan.email)) ]]</a-tag>
            <a-tag v-if="((getUpStats(dbInbound, trojan.email) + getDownStats(dbInbound, trojan.email)) > trojan.totalGB && trojan.totalGB != 0)" color="red">Ended</a-tag>
        </p>
        <template>
            Expiry Time : 
            <template v-if="trojan.expiryTime > 0">
                <a-tag v-if="trojan.expiryTime < new Date().getTime()" color="red">
                    [[ DateUtil.formatMillis(trojan.expiryTime) ]] (Expired)
                </a-tag>
                <a-tag v-else color="blue">
                    [[ DateUtil.formatMillis(trojan.expiryTime) ]]
                </a-tag>
            </template>
            <a-tag v-else color="green">{{ i18n "indefinitely" }}</a-tag>
        </template>
        </a-card>
    </template>

    <template v-if="dbInbound.isSS">
        <p>{{ i18n "encryption"}} : <a-tag color="green">[[ inbound.method ]]</a-tag></p>
        <p>{{ i18n "password"}} : <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isSocks">
        <p>{{ i18n "username"}} : <a-tag color="green">[[ inbound.username ]]</a-tag></p>
        <p>{{ i18n "password"}} : <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isHTTP">
        <p>{{ i18n "username"}} : <a-tag color="green">[[ inbound.username ]]</a-tag></p>
        <p>{{ i18n "password"}} : <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>
</div>
{{end}}

{{define "component/inboundInfo"}}
<script>
    Vue.component('inbound-info', {
        delimiters: ['[[', ']]'],
        props: ["dbInbound", "inbound"],
        template: `{{template "component/inboundInfoComponent"}}`,
    });
</script>

<script>
    function checkClientEnable(dbInbound, email) {
        const inbound = dbInbound.toInbound();
        clientStats = inbound.clientStats
        if(clientStats.length > 0) {
            for (const key in clientStats) {
                    if (Object.hasOwnProperty.call(clientStats, key)) {
                        if(clientStats[key]['email'] == email) {
                            return clientStats[key]['enable']
                        }
                    }
            }
        }
    };

    function getUpStats(dbInbound, email) {
        const inbound = dbInbound.toInbound(); 
        clientStats = inbound.clientStats;
        if(clientStats.length > 0) {
            for (const key in clientStats) {
                if (Object.hasOwnProperty.call(clientStats, key)) {
                    if(clientStats[key]['email'] == email) { 
                        return clientStats[key]['up'];
                    }
                }
            }
        }
    };

    function getDownStats(dbInbound, email) {
        const inbound = dbInbound.toInbound();
        clientStats = inbound.clientStats;
        if(clientStats.length > 0) {
            for (const key in clientStats) {
                if (Object.hasOwnProperty.call(clientStats, key)) {
                    if(clientStats[key]['email'] == email) {
                        return clientStats[key]['down']
                    }
                }
            }
        }
    };
</script>
{{end}}