{{define "settings/aboutPanel"}}
<a-tab-pane key="6" tab='{{ i18n "pages.setting.aboutTab"}}'>
    <template>
        <a-result :style="siderDrawer.isDarkTheme ? 'color: hsla(0,0%,100%,.65); align-items: center;': 'background: white; align-items: center;'">
          <template #icon>
            <a-icon type="smile" theme="twoTone" />
          </template>
          <template #extra>
            <h2>Thank you for your choice</h2>
            <a-card style="width: 400px; margin: 0 auto;" :class="siderDrawer.isDarkTheme ? darkClass : ''">
              <p><h2>X-UI Version 0.2.4.0</h2></p>
              <p>Developed with <a style="pointer-events: none;"><a-icon type="heart" theme="twoTone" two-tone-color="#eb2f96" /></a> by :
                <br>
                <a target=”_blank” rel="noopener noreferrer" href="https://github.com/sudospaes">sudospaes</a>
                <br>
                <a target=”_blank” rel="noopener noreferrer" href="https://github.com/HarlyquinForest">HarlyquinForest</a>
              </p>
              <p>{{ i18n "pages.setting.aboutLearnMore"}} <a target=”_blank” rel="noopener noreferrer" href="https://github.com/sudospaes/x-ui">github.com/sudospaes/x-ui</a></p>
            </a-card>
          </template>
        </a-result>
    </template>
</a-tab-pane>
{{end}}
            
