{{define "settings/aboutPanel"}}
<a-tab-pane key="6" tab='About Panel'>
    <template>
        <a-result style="background-color: white; align-items: center;" title="Thank you for your choice">
          <template #icon>
            <a-icon type="smile" theme="twoTone" />
          </template>
          <template #extra>
            <a-card title="X-UI Version 0.2.3.0" style="width: 400px; margin: 0 auto;">
              <p>Developed with <a style="pointer-events: none;"><a-icon type="heart" theme="twoTone" two-tone-color="#eb2f96" /></a> by :
                <br>
                <a target=”_blank” rel="noopener noreferrer" href="https://github.com/sudospaes">sudospaes</a>
                <br>
                <a target=”_blank” rel="noopener noreferrer" href="https://github.com/HarlyquinForest">HarlyquinForest</a>
              </p>
              <p>Learn more : <a target=”_blank” rel="noopener noreferrer" href="https://github.com/sudospaes/x-ui">github.com/sudospaes/x-ui</a></p>
            </a-card>
          </template>
        </a-result>
    </template>
</a-tab-pane>
{{end}}
            
