<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin: 24px 16px;
        }
    }

    .ant-col-sm-24 {
        margin-top: 10px;
    }

    .ant-tabs-bar {
        margin: 0;
    }

    .ant-list-item {
        display: block;
    }

    .ant-tabs-top-bar {
        background: white;
    }
</style>
<body>
<a-layout id="app" v-cloak>
    {{ template "commonSider" . }}
    <a-layout id="content-layout">
        <a-layout-content>
            <a-spin :spinning="spinning" :delay="500" tip="loading">
                <a-space direction="vertical">
                    <a-space direction="horizontal">
                        <a-button type="primary" :disabled="saveBtnDisable" @click="updateAllSetting" icon="save">{{ i18n "pages.setting.save" }}</a-button>
                        <a-button type="danger" :disabled="!saveBtnDisable" @click="restartPanel" icon="sync">{{ i18n "pages.setting.restartPanel" }}</a-button>
                    </a-space>
                    <a-tabs default-active-key="1" @change="changeTab" style="border-radius: 5px;">
                    {{template "settings/panel"}}
                    {{template "settings/user"}}
                    {{template "settings/xray"}}
                    {{template "settings/other"}}
                    {{template "settings/aboutPanel"}}
                    </a-tabs>
                </a-space>
            </a-spin>
        </a-layout-content>
    </a-layout>
</a-layout>
{{template "js" .}}
{{template "component/setting"}}
<script>

    const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            siderDrawer,
            spinning: false,
            oldAllSetting: new AllSetting(),
            allSetting: new AllSetting(),
            saveBtnDisable: true,
            user: new User(),
            lang : getLang(),
            activeTab:1
        },
        methods: {
            loading(spinning = true) {
                this.spinning = spinning;
            },
            changeTab(key){
                this.activeTab=key;
            },
            async getAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/all");
                this.loading(false);
                if (msg.success) {
                    this.oldAllSetting = new AllSetting(msg.obj);
                    this.allSetting = new AllSetting(msg.obj);
                    this.saveBtnDisable = true;
                }
                await this.getUserSecret();

            },
            async updateAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/update", this.allSetting);
                this.loading(false);
                if (msg.success) {
                    await this.getAllSetting();
                }
            },
            async updateUser() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/updateUser", this.user);
                this.loading(false);
                if (msg.success) {
                    this.user = new User();
                }
            },
            async updateXray() {
                // Pretty bad and dirty code , But I'm gonna leave it like this for now ;)
                this.loading(true);
                if(this.allSetting.blockIranIP){
                    xrayTemplate = JSON.parse(this.allSetting.xrayTemplateConfig);
                    xrayTemplate.routing["domainStrategy"] = "IPIfNonMatch";
                    xrayTemplate.routing["rules"][1]["ip"].push("geoip:ir");
                    domains = ["regexp:.*\\.ir$","ext:iran.dat:ir","ext:iran.dat:other","geosite:category-ir-gov","geosite:category-ir-news","geosite:category-ir-bank","geosite:category-ir-tech","geosite:category-ir-travel","geosite:category-ir-shopping","geosite:category-ir-insurance","geosite:category-ir-scholar"];
                    xrayTemplate.routing["rules"][2]["domain"] = domains;
                }else{
                    xrayTemplate = JSON.parse(this.allSetting.xrayTemplateConfig);
                    delete xrayTemplate.routing["domainStrategy"]
                    xrayTemplate.routing["rules"][1]["ip"] = ["geoip:private"]
                    delete xrayTemplate.routing["rules"][2]["domain"];
                }
                this.allSetting.xrayTemplateConfig = JSON.stringify(xrayTemplate,null,3);
                await PromiseUtil.sleep(1000);
                this.loading(false);
            },
            async getUserSecret(){
                const user_msg = await HttpUtil.post("/xui/setting/getUserSecret", this.user);
                if (user_msg.success){
                    this.user = user_msg.obj;
                }
                this.loading(false);
            },
            async updateSecret(){
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/updateUserSecret", this.user);
                if (msg.success){
                    this.user = msg.obj;
                }
                this.loading(false);
                await this.updateAllSetting();
            },
            async getNewSecret(){
                this.loading(true);
                await PromiseUtil.sleep(1000);
                var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890';
                var string = '';
                var len = 64;
                for(var ii=0; ii<len; ii++){
                    string += chars[Math.floor(Math.random() * chars.length)];
                }
                this.user.loginSecret = string;
                document.getElementById('token').value =this.user.loginSecret; 
                this.loading(false);
            },
            async toggleToken(value){
                if(value)
                  this.getNewSecret();
                else 
                  this.user.loginSecret = "";
            },
            async restartPanel() {
                await new Promise(resolve => {
                    this.$confirm({
                        title: '{{ i18n "pages.setting.restartPanel" }}',
                        content: '{{ i18n "pages.setting.restartPanelDesc" }}',
                        okText: '{{ i18n "sure" }}',
                        cancelText: '{{ i18n "cancel" }}',
                        onOk: () => resolve(),
                    });
                });
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/restartPanel");
                this.loading(false);
                if (msg.success) {
                    this.loading(true);
                    await PromiseUtil.sleep(5000);
                    location.reload();
                }
            }
        },
        async mounted() {
            await this.getAllSetting();
            while (true) {
                await PromiseUtil.sleep(1000);
                this.saveBtnDisable = this.oldAllSetting.equals(this.allSetting);
            }
        },
    });

</script>
</body>
</html>
